<h1>Make a math worksheet</h1>
<form action="/worksheet" method="get">
  <div class="field">
    <label for="count">Number of problems</label>
    <input id="count" name="count" value="10" />
  </div>
  <div class="field">
    <label for="max">Highest term</label>
    <input id="max" name="max" value="5" />
  </div>
  <div>
    <input type="submit" value="Make the worksheet" />
  </div>
</form>
