body {
  font-family: Helvetica, sans-serif;
}

.problem {
  float: left;
  border-bottom: solid 1px black;
  font-size: 50px;
  margin: 20px;
  margin-bottom: 70px;
  width: 140px;
}
.problem > div {
  text-align: right;
}
